
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <div class="header-title">
      <mat-icon>developer_board</mat-icon>
      <h1>Kanban</h1>
    </div>
    <div class="boards-container">
      <span>ALL BOARDS ({{boards.length}})</span>
      <div *ngFor="let board of boards" class="board" [routerLink]="['/boards',board.boardId]">
        <mat-icon>blur_on</mat-icon>
        <span>{{board.boardTitle}}</span>
      </div>
     
      <div class="create-board-button" (click)="openDialog()">
        <mat-icon>blur_on</mat-icon>
        <span>+ Create New Board</span>
      </div>
    </div>
  </mat-drawer>

  <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-fab extended color="primary" (click)="openNewTaskDialog()">
        + Add New Task
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  
  <div>
      <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
