<div class="container">
  <div class="column" *ngFor="let column of board.boardColumns">
    <div class="column-header">
      <span>{{ column.columnTitle }}</span>
    </div>
    <div class="column-tasks">
      <div class="task">
        <div class="task-content">
          <h3>Build UI for onboarding flow</h3>
          <p>0 of 3 subtasks</p>
        </div>
      </div>
      <div class="task">
        <div class="task-content">
          <h3>Build UI for search</h3>
          <p>0 of 1 subtasks</p>
        </div>
      </div>
      <div class="task">
        <div class="task-content">
          <h3>Build settings UI</h3>
          <p>0 of 2 subtasks</p>
        </div>
      </div>
      
    </div>
  </div>
  <div class="new-column" (click)="addNewColumnToBoard()">
    <p>+ New Column</p>
  </div>
</div>
