<div class="container">
  <div class="column" *ngFor="let column of board.boardColumns">
    <div class="column-header">
      <span>{{ column.columnTitle }} ({{column.tasks.length}})</span>
    </div>
    <div class="column-tasks">
      <div class="task" *ngFor="let task of column.tasks" (click)="openTaskDetails(task)">
        <div class="task-content">
          <h3>{{task.title}}</h3>
          <p *ngIf="task.subtasks.length">{{getCompletedSubtasksCount(task)}} of {{task.subtasks.length}} subtasks</p>
        </div>
      </div>

    </div>
  </div>
  <div class="new-column" (click)="addNewColumnToBoard()">
    <p>+ New Column</p>
  </div>
</div>
